@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*font-family: 'Roboto', sans-serif;*/

/*reset*/
html, body, header, div, nav, ul, li, a, p, span, b,img,
h1,h2,h3,h4,h5,h6,
em,strong,
fieldset,form,label,legend,button,
table,tbody,tfoot,thead,tr,th,td,
article,section,aside,
select,option,
figure,figcaption,footer,
dl,dt,dd{
	margin: 0;padding: 0;
}
h1{font-weight: normal; font-size: inherit;}
nav{display: block;}
body{
	line-height: 1;
}

/*align정렬, border테두리, input입력창*/
img{vertical-align: middle;}
img,fieldset,a {border: none;}
table,thead,tbody,tfoot{
	border: none;border-spacing: 0;
	border-collapse: collapse;
}
ul,ol,li{list-style: none;}
address,em{
	font-style: normal;
}
input,select,textarea,button,form img, label{
	vertical-align: middle;
}


/*건너뛰기(skip) 링크(연결)*/
.skipnavi{
	text-indent: -999999px;font-size: 0;
	position: absolute;left: 0;top: -50px;z-index: 999;
	width: 100%;
}




/*앵커(anchor)*/
a{text-decoration: none;}
a:link{color: #444444;}
a:visited{color: #444444;}
a:hover{color: #444444;}
a:focus{color: #444444;}

/*checkbox&radio button*/

/*회원가입*/
input[type=radio].css-radio{
	overflow: hidden;
	position: absolute;left: -1000px;
	width: 1px;height: 1px;
}
input[type=radio].css-radio+label{
	margin-right: 20px;
	display: inline-block;vertical-align: middle;
	font-size: 15px;cursor: pointer;
	background: url('../img/bg_radio.png') no-repeat 0 0;
	padding-left: 20px !important;
}
input[type=radio].css-radio:checked+label{
background-position: 0 -50px;
}

input[type=checkbox].css-checkbox{
	overflow: hidden;
	position: absolute;left: -1000px;
	width: 1px;height: 1px;
}

input[type=checkbox].css-checkbox+label{
	display: inline-block;vertical-align: middle;
	font-size: 15px;cursor: pointer;
	height: 20px;
	background: url('../img/bg_checkbox.png') no-repeat 0 0;
	background-size: 20px;
	padding-left: 30px !important;
}
input[type=checkbox].css-checkbox:checked+label{
	background-position: 0 -20px;
}


/*회원가입*/
input[type=text]{
	display: inline-block; 
	box-sizing: border-box;
	height: 45px; padding: 0 10px;
	border: 1px solid #ccc; background: #fff;
	font-size: 15px;line-height: normal;

}
input[type=password]{
	/*display: inline-block; */
	/*box-sizing: border-box;*/
	height: 45px; padding: 0 10px;
	border: 1px solid #ccc; background: #fff;
	font-size: 15px;line-height: normal;

}

input[type=tel]{
	/*display: inline-block; */
	/*box-sizing: border-box;*/
	height: 45px; padding: 0 10px;
	border: 1px solid #ccc; background: #fff;
	font-size: 15px;line-height: normal;

}

textarea{
	box-sizing: border-box;
	padding: 10px; border: 1px solid #ccc;
	font-size: 15px;
}

select{
	box-sizing: border-box;
	height: 30px;padding: 0 5px; border: 1px solid #ccc;
}

/*회원가입_select*/
.select_common{
	/*position: relative;*/
	overflow: hidden;
	display: inline-block;
	box-sizing: border-box;
	width: 158px;height: 35px;
	background: url(../img/ico_selectArr.png) no-repeat 100% 50%;
	background-size: 30px;
}
.select_common select{
	width: 185px; height: 29px; padding: 0 10px; 
	border: none;background: none; font-size: 15px;
}



/*common*/
html{
	/********/
	height: 100%;
	/*background: pink;*/
}
body{
	height: 100%;
	/*background-color: green;*/
	font-family: 'Malgun Gothic','맑은 고딕',sans-serif;
	font-size: 16px;letter-spacing: -1px;color: #444444;
	/*********/
	white-space: normal;word-wrap: break-word;
}

input, select, textarea{
	box-sizing: border-box;font-size: 15px; color: #444;
}
textarea{padding: 10px; border: 1px solid #ccc;}
input, textarea{border-radius: 0;}


/*내용이 안보임. 예:메뉴열기*/
.hdd,legend{font-size: 0;width: 0;height: 0;line-height: 0;text-indent: -999999px;overflow: hidden;visibility: hidden;position: absolute;top: 0;left: 0;}

/*caption{
	
	}*/

.clear:after{clear: both;display: block;content: "";}

hr{
	display: none;	
	}

/*pc 버전*/
/*button style*/
.btn_line{
/*background: green;*/
text-align: center;
/*font-size: 0;*/
}
.btn_line a{
	margin-left: 10px;
}
.btn_line a:first-child{
	margin-left: 0;
}

.btn_srch{
	display: inline-block;
	width: 70px;height: 35px;line-height: 35px;
	text-align: center;vertical-align: middle;
	background: #384d75;
	font-size: 14px;color: #fff !important;
}

.btn_bbs{
	display: inline-block;
	width: 70px; height: 35px;line-height: 35px;
	background: #384d75;color: #fff !important;
	font-size: 14px;
	text-align: center;vertical-align: middle;
}


/*등록*/
.btn_baseColor{
	display: inline-block;
	/*display: block;*/
	width: 125px;height: 50px;line-height: 50px;
	font-size: 20px;color: #fff !important;
	background: #4b7ad0;
}



/*********/
/*layout_base*/
.w100p{
	width: 100% !important;
}
.w160{
	width: 160px !important;
}

.mt20{
	margin-top: 20px;
}

.txt_right{
	text-align: right !important;
}


/*layout*/
#wrap{

}

/* 헤더, 푸터, 컨테이너 하위*/
.box_inner{
	width: 1050px;margin: 0 auto;
}

header{
	width: 100%;height: 113px;
	background: rgba(0,0,0,0.5);
	/*******/
	position: absolute;left: 0;top: 0;
	/*******/
	z-index: 200;
}
header .header_area{

}
header .header_area h1{
	float: left; padding:45px 0 0; 
	/*background: orange;*/
}
header .header_area h1>a{
	display: block;
	width: 270px;
	/*height: 32px;*/
	height: 70px;
	overflow: hidden;
	background: url('../img/logo.png') no-repeat;
	text-indent: -999999px;

}


/*로그인&회원가입 // 네비게이션*/
.header_cont{
	float: right;
	width: 780px;
	/*background: pink;*/
}
/*로그인&회원가입*/
.header_cont .util {
	text-align: right;
	padding-top: 10px;
	/*background: skyblue;*/
}
.header_cont .util li{
	display: inline-block;
}
.header_cont .util li:after{
	display: inline-block;content: "|";
	padding: 0 10px;font-size: 10px; color: #eeeeee;
	position: relative;
	/*top: -5px;*/
	top: -2px;
}
.header_cont .util li:last-child:after{
	content: "";
	display: none;
}
.header_cont .util li a{
	font-size: 14px; color: #eeeeee;
}

/*네비게이션*/
.header_cont .gnb{
	/*text-align: right;*/
	float: right;
	/*background: yellow;*/
}
.header_cont .gnb li{
	float: left;
}
.header_cont .gnb li>a{
	display: block;
	/*width: 195px;
	height: 40px;*/
	padding: 26px 40px;
	font-size:18px; color: #ffffff;
	/*background: green;*/
}

.header_cont .gnb li:last-child>a{
	padding-right: 5px;
	/*padding-right: 0;*/
}
/*네비게이션 2레벨*/
/*li의 아버지 영역 div*/
.header_cont .gnb .gnb_depth{
	/*background-color: orange;*/
	/*background-color: rgba(255,109,36,0.85);*/

	position: absolute;left: 0;	/*top: 113px;*/	/*z-index: 100;*/
	/******/
	width: 100%;	height: 60px;
	display: none;
}

/*.header_cont .gnb .gnb_depth */
/*.header_cont .gnb .gnb_depth2_1{

}*/
/*네비게이션 2레벨 공통 스타일*/
/*국내, 해외*/
.gnb_depth .submenu_list{
	width: 1050px;margin: 0 auto;

	height: 60px;
	/*background-color: rgba(0,0,0,0.2);*/
	box-sizing: border-box;
	/*display: none;*/
}


/*국내 해외*/
.gnb_depth2_1 .submenu_list{
	padding-left: 480px;
	

}
/*공지사항 문의하기*/
.gnb_depth2_2 .submenu_list{
	padding-left: 600px;
	
	
}
/*프로그램 소개 여행자료*/
.gnb_depth2_3 .submenu_list{
	padding-left: 730px;


}

/*항공 호텔*/
.gnb_depth2_4 .submenu_list{
	padding-left: 900px;
	/*padding-left: 940px;*/
	/*background-color: red;*/
	
}

.gnb_depth .submenu_list li{
	/*background-color: blue;*/
	/*display: inline;*/
}

.gnb_depth .submenu_list li a{
	/*border: 1px solid red;*/
	padding:20px;
}
.gnb_depth .submenu_list li:last-child a{
	padding-right: 0;
}

.header_cont .closePop{
	display: none;
}


/*푸터*/
footer{
	border-top: 1px solid #ddd;
	/*background: green;*/
	/*padding-bottom: 40px;*/
}

footer .foot_area{
	position: relative;
	padding-bottom: 40px;
}

/*왼쪽블럭*/
footer .foot_area .foot_list{
	padding-top: 25px;
}
footer .foot_area .foot_list li{
	float: left;
}
							/********/
footer .foot_area .foot_list li:first-child:after{
	display:inline-block;content:'|';
	padding: 0 10px; color: #999;
	/******/
	position: relative;	top: -2px;
	font-size: 10px;
}
footer .foot_area .foot_list li a{
	font-weight: bold;font-size: 15px;
}

footer .foot_area h2{
	font-size: 14px; color: #666;margin-top:25px; 
}

footer .foot_area .addr{
	color: #666;font-size: 13px;
	padding-top: 5px;line-height: 1.4;
}

footer .foot_area .space0{
	letter-spacing: 0;
}

footer .foot_area .copy{
	padding-top: 3px font-size:13px color#666;letter-spacing: 0;
}

footer .foot_area .snslink{
	position: absolute;top: 50px;right: 20px;
	/*background: orange;*/
}
footer .foot_area .snslink li{
	float: left;margin-left: 60px;
}
footer .foot_area .snslink li a{
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	width: 50px;height: 74px;
	background: url('../img/ico_facebook.png') no-repeat;
}
footer .foot_area .snslink li+li a{
	background-image: url('../img/ico_line.png');
}
footer .foot_area .snslink li+li+li a{
	background-image: url('../img/ico_talk.png');
}



/*container*/
#container{
	padding-bottom: 70px;
}


/*슬라이드*/
.visualRoll{
	background-color: tomato;
	width: 100%;
	position: relative;
}

.viewImgList li{
	height: 550px;
}
.viewImgList li.imglist0{
	background: url('../img/mainslide01.jpg') no-repeat center;
	position: relative;
	/*position: absolute;*/
	left: 0;top: 0;z-index: 100;
	width: 100%;

}
.viewImgList li.imglist1{
	background: url('../img/mainslide02.jpg') no-repeat center;
	position: absolute;left: 0;top:0;
	z-index: 10;
	/******/
	width: 100%;
}
.viewImgList li.imglist2{
	background: url('../img/mainslide03.jpg') no-repeat center;
	position: absolute;left: 0;top:0;
	/********/
	z-index: 10;
	/******/
	width: 100%;
}

.viewImgList li{
	/*********************/
	height: 550px; line-height: 550px;
	text-align: center;
	background-size: cover !important;
}



/*2월22일*/
/*롤버튼*/
.viewImgList li .roll_content{
	/*background: green;*/
	position: relative;

}
.viewImgList li .roll_content .roll_txtline{
	/*background: pink;*/
	position: absolute;bottom:60px;
	width: 100%;
	font-size: 22px; line-height: 1;text-align: center;
	color: #fff;letter-spacing: 2px;
}

/*롤버튼*/
.rollbtnArea{
	/*background: green;*/
	width: 100%; 
	position: absolute;left: 0;bottom: 25px;z-index: 200;
}
.rollbtnArea .rollingbtn{
	/*background-color: yellow;*/
	width: 320px;
	margin: 0 auto;
	text-align: center;
}
.rollbtnArea .rollingbtn li{
	display: inline-block;margin-right: 5px;
}
.rollbtnArea .rollingbtn li.butt0{margin-left: 10px;}
.rollbtnArea .rollingbtn li.rollstop{}
.rollbtnArea .rollingbtn li.rollplay{display: none;}
.rollbtnArea .rollingbtn li a{vertical-align: top;}



/*about_area  다시 찾은 인기 여행지*/
.about_area{}
.about_area h2{
	/*background: green;*/
	padding: 55px 0 105px;
	text-align: center;font-size: 40px;
}

.about_area .about_box{
	background-color: #faf3e0;
}

.about_area .about_box .place_list{}
.about_area .about_box .place_list li{
	float: left; width: 32%;margin-left: 2%;
	text-align: center;
	/***********/
	/*margin-top: -50px;*/
	/*position: absolute;*/
	position: relative;	top: -50px;
}
.about_area .about_box .place_list li:first-child{
	margin-left:0;}

.about_area .about_box .place_list li .img_topplace{
	width: 100%;
}

.about_area .about_box .place_list li h3{
	font-weight: bold;font-size: 18px;
	padding-top: 25px; color: #000;
}

.about_area .about_box .place_list li .txt{
	/*box-sizing: border-box;*/
	padding: 10px 30px 0;
	color: #666;
	line-height: 1.8;
}
.about_area .about_box .place_list li .view{
	/*display: block;*/
	display: inline-block;
	margin-top: 10px;
	padding-top: 5px;
	border-top: 2px solid #333;
	color: #666;
}


/*apps & notice*/
.appbbs_area{}
.appbbs_area .appbbs_box{}
.appbbs_area .appbbs_box .app_line{
	margin-top: 30px;
	/*background: green;*/
	float: left;
	width: 66%;
	padding: 45px 0;
	text-align: center;
	background: url('../img/bg_app.jpg') no-repeat;

}
.appbbs_area .appbbs_box .app_line a{
	display: inline-block;
	box-sizing: border-box;
	width: 40%;
	height: 100px;
	line-height: 100px;
	padding-left: 75px;
	margin-right: 10px;
	color: #fff;
	background: rgba(0,0,0,0.3) url('../img/ico_katalk.png') no-repeat 20px 50%;
	/*vertical-align: middle;*/
	font-size: 26px;
	border: 2px solid #fff;
}
.appbbs_area .appbbs_box .app_line a+a{
/*.appbbs_area .appbbs_box .app_line a:last-child{*/
	background: rgba(0,0,0,0.3) url('../img/ico_phone.png') no-repeat 20px 50%;
	margin-right: 0;
}

/*공지사항*/
.appbbs_area .appbbs_box .bbs_line{
	float: right;
	width: 30%;
	/*width: 34%;*/
	/*background: green;*/
}
.appbbs_area .appbbs_box .bbs_line h3{
	font-size: 26px;
	margin-bottom: 0;
}

.appbbs_area .appbbs_box .bbs_line .notice_recent{
	padding-top: 10px;
}

.appbbs_area .appbbs_box .bbs_line .notice_recent li{
	padding: 8px 0;
}
.appbbs_area .appbbs_box .bbs_line .notice_recent li a{
	/*background: orange;*/
	background: url('../img/ico_bullet.png') no-repeat;
	padding-left: 30px;
	/*text-indent: 20px;*/

	/*******/
	white-space: nowrap;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}


/*퀵메뉴*/
.quick_area{
	position: fixed;right: 0;top: 170px;z-index: 200;
	/*background: green;*/
	width: 100px;
	/*width: 94px;*/
}
.quick_area .quick_list{}

.quick_area .quick_list li{
	background: #333333;
	text-align: center;
	font-size: 15px;

}
.quick_area .quick_list li a{
	display: block;
	padding: 15px 0;
	border: 1px solid #555555;
}
.quick_area .quick_list li:last-child a{
	/*border: none;*/
}
.quick_area .quick_list li a h3{
	color: #ddd;
	padding-bottom: 10px;
	font-size: 17px;
}
.quick_area .quick_list li a h3 em{
	display: none;
	/*text-indent:-9999px;*/
}
.quick_area .quick_list li a h3.to_contact{
	font-size: 19px;
}
.quick_area .quick_list li a p{
	color: #fff;font-size: 14px;line-height: 1.3;
}

.quick_area .to_top{
	background: #fff;
	text-align: center;
}
.quick_area .to_top a{
	display: block;height: 45px;
	background: url('../img/ico_totop.png') no-repeat center;
	background-size: 50%;
	box-sizing: border-box;
	border-bottom: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;

	text-indent: -9999px;
}



/*모달*/
/*성패트릭 대성당 // 원주 뮤지엄 '산' // 박람회 기념 공원 */
.popup_base{
	/*background: green;*/
	background: rgba(0,0,0,0.7);
	position: absolute;
	/*position: fixed;*/
	left: 0;top: 0;z-index: 200;
	width: 100%;height: 100%;
	display: none;


}
.popup_base .pop_content{
	/*overflow: hidden;*/
	/*background: pink;*/
	background: #fff;
	margin: 200px auto 0;
	width: 580px;
	position: relative;

}

.popup_base .pop_content .btn_xpop{
	position: absolute;
	/*position: relative;*/
	right: 0;top: -55px;
}
.popup_base .pop_content .btn_xpop a{
	background: url('../img/btn_closeMenu.png') no-repeat;
	background-size: 45px;

	display: block;
	text-indent: -99999px;
	width: 45px;height: 45px;
	/*text-align: center;*/
	/*overflow: hidden;*/
}

.pop_content .pop_list li{
	text-align: center;
	padding: 36px;
}
.pop_content .pop_list li h2.tit_pop{
	font-size: 30px;font-weight: bold;
	padding: 10px 0 24px;
	letter-spacing: -2px;
}
.pop_content .pop_list li img.pop_img{
	width: 100%;
}
.pop_content .pop_list li .pop_txt p{
	padding-top: 10px;font-size: 17px;
	line-height: 1.5;
	width: 95%;margin: 0 auto;

	/*3월2일부터*/
}


/*login.html*/
/*서브페이지_로그인 페이지*/
.login_wrap{
	/*background: pink;*/
	width: 468px;margin: 50px auto 0;
}
h1.loginTit{
	text-align: center;
}


h1.loginTit a img{
	width: 100%;
}
.login_list{
	/*background: green;*/
	width: 75%;
	margin: 70px auto 20px;
}
.login_list li{
	background: orange;
	height: 54px;
	margin-bottom: 4px;
	border-radius: 10px;
}
.login_list li.kakao{
	/*background-color: #fae100;*/
	background: #fae100 url('../img/ico_kakao.png') no-repeat 15px 50%;
	background-size: 45px 45px;
	padding-left: 50px;
}
.login_list li.naver{
	/*background-color: #00c300;*/
	background: #00c300 url('../img/ico_naver.png') no-repeat 15px 50%;
	background-size: 45px 45px;
	padding-left: 50px;
}
.login_list li.facebook{
	background-color: /*#405ea9*/;
	background: #405ea9 url('../img/ico_facebook.png') no-repeat 15px 50%;
	background-size: 45px 45px;
	padding-left: 50px;
}
.login_list li.cellphone{
	/*background-color: #888888;*/
	background: #888888 url('../img/ico_cellphone.png') no-repeat 15px 50%;
	background-size: 45px 45px;
	padding-left: 50px;
}
.login_list li a{
	/*background-color: skyblue;*/
	display: block;
	height: 54px;
	line-height: 54px;
	text-align: center;
	/*width: 250px;margin-left: 100px;*/
	font-size: 14px;
	color: #fff;
}
.login_list li.kakao a{
	color: #000000;
}
.btn_onoff_line{
	/*background-color: green;*/
	width: 75%;
	margin: 10px auto;
	text-align: center;
}
.btn_onoff_line .btn_onoff{
	font-size: 14px;
}

/*둥근 사각형*/
.btn_onoff_line .switch{
	/*background-color: yellow;*/
	display: inline-block;

	width: 35px;height: 22px;border-radius: 16px;
	background: #eeeeee;
	cursor: pointer;

	/*위체제어*/
	position: relative;

	/*시간제어*/
	transition-duration: 0.3s;
	/*transition-duration: 300ms;*/
}

.btn_onoff_line .switchOn{
	background: blue !important;
}

/*동그라미*/
.btn_onoff_line .switch:after{
	background: #fff;
	/*background: red;*/
	content: "";width: 19px; height: 19px;border-radius: 20px;
	/***위치제어***/
	position: absolute;left: 1px;top: 1px;
	box-shadow: 0 2px 5px #999;
	/*시간제어*/
	transition-duration: 0.3s;
	/*transition-duration: 300ms;*/
}

.btn_onoff_line .switchOn:after{
	left: 15px !important;
}



/**join.html**/
/*서브페이지_회원가입*/

/*배경이미지*/
.location_area{
	/*background: pink;*/
	background: url('../img/img_top2.jpg') no-repeat;
	height: 445px;
}
/*.location_area.about{}*/
.location_area.customer{
	background-image: url('../img/img_top3.jpg');
	background-position: center bottom;
}
.location_area.package{
	background-image: url('../img/img_top4.jpg');
	background-position: left center;
}
/*.location_area.ticket{}*/
.location_area.member{
	background-image: url('../img/img_top5.jpg');
}
.location_area h2.tit_page{
	font-size: 30px;color: #fff;letter-spacing: 3px;
	/*font-family: 'Noto Sans KR', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #ccc;
	margin: 0 50px;
	padding: 250px 0 0 0;
}

.location_area h2.tit_page .in{
	font-variant: small-caps;
}

.location_area p.location{
	padding: 20px 0 0 50px;
	color: #fff;
}
.location_area p.location .path{
	padding: 0 10px;
}

.location_area ul.page_menu{display: none;}

.bodytext_area{
	/*background: pink;*/
	padding: 55px 50px 0;
	box-sizing: border-box;
}

/*회원가입_입력창*/
.appForm{
	margin: 40px auto 0;
}
.appForm .pilsoo_item{
	position: relative;
	padding-left: 20px;padding-bottom: 10px;
	/*border-bottom: 2px solid #000;*/
	font-size: 15px;
	/*color: #f00;*/
}
.appForm .pilsoo_item:before{
	content: "*"; display: inline-block; width: 15px;font-size: 17px;font-weight: bold;
	color: #f00;

	position: absolute;left: 5px;top: 3px;
	/*vertical-align: middle;*/

	/*padding-top: 20px;*/
	/*line-height: 2;*/
}


.appForm .info_pilsoo{
	border-bottom: 2px solid #000; 
	padding-bottom: 10px;padding-left: 20px;
	color: #f00;font-size: 15px;
	position: relative;
}
.appForm .info_pilsoo:before{
	content: "*"; display: inline-block; width: 15px;font-size: 17px;font-weight: bold;

	position: absolute;left: 5px;top: 3px;
	/*vertical-align: middle;*/

	/*padding-top: 20px;*/
	/*line-height: 2;*/
}

.appForm .app_list{
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.appForm .app_list li{
	padding: 8px 0;
}
.appForm .app_list li .tit_lbl{
	/*background: green;*/
	float: left;
	width: 150px; 
	padding-left: 20px;box-sizing: border-box;
	line-height: 42px;
	font-size: 17px;font-weight: bold;
	letter-spacing: -2px;
}
.appForm .app_list li .app_content{
	float: right;
	width: 768px;
	/*width: 770px;*/
}

.appForm .app_list li .app_content * {vertical-align: top;}

.appForm .app_list li .app_content.email_area .ico_space{
	display: inline-block;
	padding-top: 10px;
}

.appForm .app_list li .app_content.radio_area {
	height: 45px;padding-top: 12px;box-sizing: border-box;
}

.appForm .app_list li .app_content.checkbox_area {
	height: 45px;padding-top: 12px;box-sizing: border-box;
}

.appForm .app_list li .app_content label{
	vertical-align: middle;
}

.appForm .app_list li .app_content .select_common{
	width: 160px; height: 45px; border: 1px solid #ccc;
}

.appForm .app_list li .app_content .select_common select{
	width: 200px;height: 43px;
}

.appForm .app_list li textarea{
	height: 245px;
}

.btn_line{padding: 20px 0;}


/*notice_list.html*/
/*공지사항*/
.minisrch_form{
	/*background: pink;*/
	/*width: 100%;*/
	text-align: right;
	margin-bottom: 20px;
}
.minisrch_form .tbox{
	border: none;
	border-bottom: 1px solid #ccc;
	width: 200px; height: 35px;line-height: 35px;
	padding: 0 5px 0 30px;
	background: url('../img/ico_search.png') no-repeat 10px 50%;
	background-size: 15px;
}

.bbsListTbl{
	/*background: pink;*/
	width: 100%;
	border-top: 2px solid #384d75;
}
.bbsListTbl th{border-bottom: 1px solid #ccc;background: #f0f0f0;}
.bbsListTbl th,.bbsListTbl td{height: 55px;padding: 10px;box-sizing: border-box;}
.bbsListTbl td{text-align: center;line-height: 1.3; border-bottom: 1px solid #ccc;}
.bbsListTbl td.tit_notice{text-align: left;}
.bbsListTbl td:nth-child(1){width: 10%;}
.bbsListTbl td:nth-child(2){width: 55%;}
.bbsListTbl td:nth-child(3){width: 15%;}
.bbsListTbl td:nth-child(4){width: 20%;}

.pagination{
	/*background: pink;*/
	text-align: center;
	padding: 40px 0 0;
}
.pagination a.pbtn{
	/*background: green;*/
	display: inline-block;
	padding: 7px;
	font-size: 0;
	text-align: center;vertical-align: middle;
}
.pagination a .pagenum{
	/*background: orange;*/
	display: inline-block;
	width: 25px; height: 25px;
	line-height: 25px;text-align: center;
	vertical-align: middle;
}
.pagination a .currentpage{
	border-radius: 3px; background: #384d75;color: #fff;
}
.pagination a:hover .pagenum{
	background: #ddd;border-radius: 3px;
}

/*notice_view.html*/
/*공지사항 상세보기*/
.bbsview_list{
	/*background: pink;*/
	border-top: 2px solid #384d75;
	padding-bottom: 30px;
}
.bbsview_list li{
	box-sizing: border-box;
	padding: 0 15px;
	border-bottom: 1px solid #ccc;
	font-size: 14px; color: #666;
}
.bbsview_list li.bbs_title{
	/*background: green;*/
	height: 50px;line-height: 50px;
	font-size: 16px;font-weight: bold;
}
.bbsview_list li.bbs_date, li.bbs_hit{
	float: left;
	width: 50%;
	height: 40px; line-height: 40px;
}
.bbsview_list li.bbs_content{
	/*background: orange;*/
	clear: both;
	padding: 20px 15px;
	min-height: 200px;
}
.bbsview_list li.bbs_content .editer_content{
	line-height: 2;
}

.near_list{
	/*background: pink;*/
	border-top: 1px solid #ccc;
}

.near_list li{
	padding: 10px;
	border-bottom: 1px solid #ccc; 
}
.near_list li:after{
	clear: both;content: "";display: block;
}
.near_list li h4{
	float: left;
	width: 100px; padding: 0 0 0 50px;
	background: url('../img/ico_nearNext.png') no-repeat 12px 50%;
	font-size: 15px;
}
.near_list li h4.prev{
	background-image: url('../img/ico_nearPrev.png');
}
.near_list li a{
	float: left;
}


/*program.html*/
/*프로그램 소개*/
.bodytext_area.place_area{
	/*background-color: pink;*/
	padding: 55px 0 0;
}

.program_list li{
	float: left;
	width: 31.5%; margin: 0 0.9%;
}

/*********/
.program_list li:nth-child(3n+1){
	clear: both;
}

.program_list li .img_place{
	width: 100%;
}

.program_list li h3{
	padding: 40px 0 0;
	font-size: 22px; font-weight: bold;
}

.program_list li .subttl{
	padding: 25px 0 0;
	font-weight: bold;
	font-size: 16px;
	color: #fa6400;
	letter-spacing: 2px;
}

.program_list li .program_content{
	padding: 15px 0 0;font-size: 15px;
	line-height: 2;
}

.program_list li .program_content p{

}

.program_list li .program_content p .subtxt{
	display: none;
	/*display: inline;*/

}

.program_list li .btn_more{
	padding: 10px 0 20px;
	text-align: center;
	font-size: 12px;

}
.program_list li .btn_more a{
	padding: 5px 7px;border-radius: 3px;
	background: #000; color: #fff;
}




/*mypage.html*/
/*마이페이지*/
.myinfo{/*background: pink;*/}
.myinfo dt{
	width: 170px;height: 70px;
	line-height: 70px;
	background:#dfe3ea;
	background: #000;
	color: #fff;font-size: 18px;text-align: center;
 }
 .myinfo dd{border-top: 2px solid #000; }
 .regForm .reg_list{
 	background: pink;
 	background: url('../img/bg_reglist.png') repeat-y;
 	padding: 10px 0 0;
 }
 .regForm .reg_list li{
 	/******/
	/*height: 60px;*/
	min-height: 60px;
	padding: 0;
	border-bottom: 1px solid #ccc;
 }
 .regForm .reg_list li .tit_lbl{
 	float: left;
 	box-sizing: border-box;
 	width: 150px;
 	padding-left: 20px;
 	font-size: 16px;font-weight: bold;
 	line-height: 60px;

 	/*background: green;*/
 }
 .regForm .reg_list li .reg_content{
 	float: right;
 	box-sizing: border-box;
 	width: 710px;
 	/*width: 770px;*/
 	padding-left: 20px;
 	padding-top: 25px;
 	font-size: 15px;
 	/*background: orange;*/
 }
  .regForm .reg_list li .reg_content *{
  	vertical-align: middle;
  }
   .regForm .reg_list li .reg_content.radio_area{
    	padding-top: 20px;
    }
.regForm .reg_list li .reg_content{
	vertical-align: middle;
}
.regForm .reg_list li .reg_content .info_line{
	padding: 10px 10px 17px 0;
	font-size: 15px;
}

.closePop{display: none;}



/*패드용 1065px이하*/
@media all and (max-width: 1065px) and (min-width: 801px){
	.box_inner{
		/*background:pink;*/
		width: 100%;

	}
	header .header_area h1{
		padding-left: 20px;
	}

	.header_cont{
		float: right;
		width: 60%;padding-right: 20px;
	}

	.header_cont .gnb li a{
		padding: 26px 25px;
	}

	.gnb_depth .submenu_list{
		width: 100%;padding-left: 52%;
	}

	.gnb_depth .submenu_list li a{
		padding: 20px;
	}
	#container{
		padding-bottom: 20px;
	}

	.about_area .about_box .place_list{
		padding: 0 20px;
		box-sizing: border-box;
	}
	.appbbs_area .appbbs_box{
		padding: 0 20px;
		box-sizing: border-box;
	}
	.about_area .app_line a{
		font-weight: 21px;
	}
	footer .foot_area{
		padding: 0 20px;
		box-sizing: border-box;
	}

	footer .foot_area .snslink li{
		margin-left: 15px;
	}
	/*퀵메뉴*/
	.quick_area .quick_list{
		display: none;
	}

	.quick_area .to_top{
		position: fixed;right: 20px;bottom: 112px;
		background: none;
		z-index: 300;
	}

	.quick_area .to_top a{
		width: 45px; height: 45px;
		
		background: url('../img/ico_totop_mo.png') no-repeat;
		background-size: 45px;
		border-bottom: none;border-left: none;
	}

	/*회원가입*/
	.appForm .app_list li .tit_lbl{
		width: 21%;
	} 

	.appForm .app_list li .app_content{
		width: 79%;
	}
	/*마이페이지*/
	.regForm .reg_list li .tit_lbl{
		width: 25%;
	}
	.regForm .reg_list li .reg_content{
		width: 75%;
	}


}




/*핸드폰 800px이하*/
@media all and (max-width: 800px){
	.box_inner{
		/*border: 5px solid red;*/
		width: 100%;
	}
	.popup_base .pop_content{
		width: 90%;
	}

	header{
		height: 90px;text-align: center;
		background: rgba(0,0,0,0.5);
		z-index: 200;

	}
	header.on{background: #31353d;}

	header .header_area h1{
		float: none;
		width: 100%
		height:50px;padding:35px 0 0;
		/*text-align: center;*/

	}
	header .header_area h1 a{
		display: inline-block; width: 180px;height: 23px;background-size: 180px 23px;
	}
	/*햄버거 버튼 */
	header .header_area .openMOgnb{
		position: absolute;left: 15px;top: 35px;
		/*width: 23px; height: 16px;*/
		/*display: block;*/
		/*background: pink;*/
	}
	
	header .header_area .openMOgnb span{
		box-sizing: border-box;
		display: block;
		width: 25px;height: 3px;
		background: #fff;border-radius: 10px;
		margin-bottom: 4px;
	}
	header .header_area .openMOgnb span+span{
		width: 17px;
	}

	header .header_area .openMOgnb span:last-child{width: 25px;
		margin-bottom: 0}

		/*로그인 회원가입 */
		.header_cont{
			float: none;
			background: #31353d;
			width: 100%;
			display:none;
		}

		.header_cont .util{
			padding:20px;
		}
		.header_cont .util li{
			float: left;
		}


		/*닫기버튼*/
		.header_cont .closePop{
			position: absolute;right: 0;top: 15px;
			/*display: block;*/
			display: none;

		}

		.header_cont .closePop a{
			display: block;
			text-indent: -9999px;
			width: 60px;height: 60px;overflow: hidden;
			background: url('../img/btn_closeMenu.png')no-repeat;
			background-size: 60px;
		}

		/*네비게이션*/
		.header_cont .gnb{
			float: none;
			border-top: 1px solid #83868b;
			/*box-sizing: border-box;
			padding-top:0;
			height: auto;*/
		}

		.header_cont .gnb li{
			text-align: left;
			box-sizing: border-box;
			float: left;width: 50%;
			border-bottom: 1px solid #83868b;}

		.header_cont .gnb li:nth-child(odd){
			border-right: 1px solid #83868b;
		}

		.header_cont .gnb li a{
			display: block;height: 60px;line-height: 60px;
			padding: 0 0 0 65px; 
			background: url('../img/ico_gnb01.png') no-repeat;
			background-size: 49px 56px;
			font-size: 16px;
		}

		.header_cont .gnb li:nth-child(2) a{
			background: url('../img/ico_gnb02.png') no-repeat;
		}

		.header_cont .gnb li:nth-child(3) a{
			background: url('../img/ico_gnb03.png') no-repeat;
		}

		.header_cont .gnb li:nth-child(4) a{
			background: url('../img/ico_gnb04.png') no-repeat;
		}
		.gnb_depth{display: none;}

		/*피씨버전_*//*이미지 슬라이드 */
		.main_rolling_pc{display: none;}
		.main_rolling_mobile{
			display: block;
		}

		.main_rolling_mobile .swiper-container .swiper-wrapper .swiper-slide img{
			width: 100%;
		}
		.main_rolling_mobile .swiper-pagination{
			/*background: pink;*/
			/*width: 200px;*/
			width: auto;
			left: auto;top: auto;
			right: 20px; bottom: 20px;
			font-size: 0;

		}
		.main_rolling_mobile .swiper-pagination-bullet{
			opacity: 0.2;
			background: #fff;

		}
		.main_rolling_mobile .swiper-pagination-bullet-active{
			opacity: 1; 
		}
		/*푸터*/
		footer .foot_area{
			box-sizing: border-box;
			padding: 0 20px 90px;
		}
		footer .foot_area h2{
			/*padding-top: 15px;*/
			/*font-size: 14px;*/
		}
		footer .foot_area .addr{
			line-height: 1.5;color: #666;
			font-size: 14px;

		}

		footer .foot_area .copy{
			color: #666;
			line-height: 1.5;
			font-size: 14px;
		}
		footer .gubun{
			color: #fff;
			display: block;
			line-height: 0;
		}
		footer .foot_area .snslink{
			position: static;width: 210px;margin: 10px auto;
		}
		footer .foot_area .snslink li{
			margin-left: 30px;
		}
		footer .foot_area .snslink li:first-child{
			margin-left: 0;
		}

		/*container*/
		#container{
			position: relative;
			width: 100%;
			padding-bottom: 30px;
		}
		.about_area{}

		.about_area h2 b{
			display: block;padding-top: 10px;
		}

		.about_area .about-box{
			background: #fff;
		}
		.about_area .about_box .place_list{}

		.about_area .about_box .place_list li{
			float: none;
			width: 100%;margin: 0;
			box-sizing: border-box;
			padding:0 20px;
			top: 0;

		}

		.about_area .about_box .place_list li p.txt{
			padding: 10px 50px 30px;
			line-height: 1.4;
		}

		.about_area .about_box .place_list li .view{
			padding-bottom: 10px; margin: 0 0 30px;
		}


		/*apps&notice*/
		.appbbs_area{padding:0 20px;}
		.appbbs_area .appbbs_box .app_line{
			display: none;
		}
		.appbbs_area .appbbs_box .bbs_line{
			float: none;
			width: 100%;
			padding:20px 0;
			border-top: 1px solid #d6d7d8;
		}

		.appbbs_area .appbbs_box .bbs_line h3{
			font-weight: bold;font-size: 19px;
		}

		/*퀵메뉴*/

		.quick_area .quick_list{position: fixed;left: 0;bottom: 0;width: 100%; } 

		.quick_area .quick_list li{
			float: left;width: 31%;text-align: left;background:#3e3e46; font-size: 15px;
		}

		.quick_area .quick_list li+li{width: 37%;}

		.quick_area .quick_list li+li+li{
			width: 32%
		}

		/*구분선*/
		.quick_area .quick_list li:first-child:after{
		content: ""; display: inline-block; width: 1px height:16px; background:#ddd;
		position: absolute;top: 50%;margin-top: -8px;
		right: 31%;
		}

		.quick_area .quick_list li:last-child:before{
		content: ""; display: inline-block; width: 1px height:16px; background:#ddd;
		position: absolute;top: 50%;margin-top: -8px;
		left: 32%;
		}

		.quick_area .quick_list li a h3{
			height: 37px;line-height: 37px;
			padding-bottom:0; padding-left: 45px;
			background: url(../img/ico_phone_mobtm.png) no-repeat 20px center;
			background-size: 20px;
			color: #fff;
			letter-spacing: -1px;
		}

		.quick_area .quick_list li+li a h3{
			background: url(../img/ico_talk_mobtm.png) no-repeat ;
		}

		.quick_area .quick_list li+li+li a h3{
			background: url(../img/ico_contact_mobtm.png) no-repeat;
		}

		.quick_area .quick_list li+li a h3 em{
			display: inline;
		}


		.quick_area .quick_list li a p{
			display: none;
		}

		/*top아이콘*/

		.quick_area .to_top{
			position: fixed;right: 20px;bottom: 100px;z-index: 200;
			text-align: center;
			background:none;
		}

		.quick_area .to_top a{
			border-left: none;
			border-bottom: none;
			display: block;
			width: 45px; height: 45px;
			background: url(../img/ico_totop_mo.png)no-repeat center;
			background-size: 45px;
		}

		/************/
		.quick_area .to_top.hide{display: none;}

		}

		/*모달*/
		.popup_base .contact_pop{
			position: relative;width: 90%;margin:100px auto 0;

		}

		.popup_base .btn_xpop{
			top:-40px;
		}

		.popup_base .btn_xpop a{
			display: block;width: 30px;height: 30px;
			background-size: 30px;
		}

		.popup_base .pop_list li{
			padding:20px;
		}

		.popup_base .pop_list li h2.tit_pop{
			padding:5px 0 12px;
			font-size: 17px; letter-spacing: -1px;

		}

		.popup_base .pop_list li .pop_txt{padding-top: 10px;}

		.popup_base .pop_list li .pop_txt p{
			padding-top: 5px; line-height: 1.5;font-size: 14px; letter-spacing: -1px;
		}

		/*3월 8일 서브페이지*/
		/*회원가입*/
		.location_area{
			background-size: cover;
			height: 260px;
		}
		.location_area h2.tit_page{
			margin: 0 45px;
			padding:140px 0 0 0;
		}

		.bodytext_area{
			padding: :33px 20px 0;
		}

		.appForm{
			margin: 20px auto;

		}

		.appForm .pilsoo_item{}

		.appForm .app_list li{
			border-bottom: 1px solid #ccc;
		padding: 10px 0;}

		.appForm .app_list li:last-child{
			border-bottom: none;
			padding-bottom: 10px;
		}

		.appForm .app_list li .tit_lbl{
			line-height: 30px;
		}

		.appForm .app_list li .app_content{
			float: none;
			width: auto;
		}

		.appForm .app_list li .app_content *{
			vertical-align: middle;
		}

		.appForm .app_list li .app_content input[type='text'],.appForm .app_list li .app_content input[type='password'],.appForm .app_list li .app_content input[type='tel']{
			border:none;
			width: 100% !important;
		}

		.appForm .app_list li .app_content.email_area input[type='text']{width: 45% !important;font-size: 14px;
			border:1px solid #ccc;}

		.appForm .app_list li .app_content.email_area .ico_space{
			width: 7% !important;
			font-size: 14px;text-align: center;}

		.appForm .app_list li .app_content .select_common{width: 100%;height: 45px;margin-top: 10px;}

		.appForm .app_list li .app_content .select_common select{width: 100%;height: 39px;}

		.appForm .app_list li textarea{
			height: 130px;
		}
		.btn_line a.btn_baseColor{
			width: 100%;height: 50px;line-height: 50px;
			background:#384575;
			color:#fff; font-weight: bold; font-size: 20px;
		}