@charset "utf-8";              
*{margin: 0 auto;padding: 0;}
.clearfix::after, .clearfix::before{display:block; content: ''; clear: both;}
html{ overflow-x: hidden;}
ul{list-style: none;}
body{
	/*background: blue;*/
	color: #fff;
	font-size: 17px;
	position: relative;
	width: 100%;
	overflow: scroll;
	overflow-x: hidden;
	
}
a{	display: block;
	text-decoration: none;
	color: #fff;
}

.wrapper{
	width:100%;
	height: auto;
	margin:0 auto;
}

header{position: relative; height: auto;}

.bg_img{
	width: 100%;
	height: auto;
	float: left;
	/* position: absolute; */
	overflow: scroll;
	overflow-y:hidden;
	overflow-x: hidden;
	
}

.bg_img video{
	width: 100%;
	height: auto;
	min-width: 994px;
	}

/****************************/

input{vertical-align: middle;}

#notice_wrap{width: 100%; 
	height: 100%;
	position: absolute; left: 0; top: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 12;
		}
#notice_wrap:after{display: block;content: "";clear: both;}

.notice_up{
	top: 100px;
	width: 500px; height: 800px;
	background-color: #fff;position: relative;}

.notice_up h4{
	color: #222;
	font-size: 17px;
	position: absolute;
	top: 35px;
	left: 80px;
}

#notice_wrap img{
	position: absolute;
	left: 5%;
	width: 90%;
	top: 10%;
}

.closeWrap{	position: absolute;
			background-color: #fff; color: #000; 
			text-align: right; padding: 5px 10px;
			font-size: 15px;
			bottom: 30px; left: 20px;
		}
.closeBtn{position:absolute;
	right: 20px;top: 20px;
	cursor: pointer;
width: 25px; height: 25px;
border:none;}


/***************************************/
header{
	width: 100%;
	height: 351px;
}


.top{position: fixed;
	float: left;
	width: 100%;
	height: 351px;
	/* background-color: yellow; */
	z-index:6;
}


.top_topbox{
	position: fixed;
	right: 0;
	width: 100%;
	height: 110px;
	z-index:5;
}


.top_topbox.on{
	border-bottom: 1px solid #ccc;
}

.tsbox{
	display: none;
	position: fixed;
	float: right;
	width: 70px;
	height: 70px;
	margin-top: 4px;
	cursor: pointer;
	right:1%;
	top: 20px;
	z-index:11;
}

.tswrap{
	margin-top: 15px;
	display: block;
	width: 70px;
	height: 70px;
	position: relative;
	z-index: 7;

}


.tswrap span{display: block;
	width: 50%; 
	height: 2px;
	background: #fff; 
	/*margin-top: 5px;*/
	position: absolute;
	right: 10px;
	
}

	.tswrap span:nth-child(1){top: 0px;}
	.tswrap span:nth-child(2){top: 10px; width:35%; right: 10px;}
	.tswrap span:nth-child(3){top: 20px;}

	.top_btbox{
		position: fixed;
		width: 100%;
		height: 240px;
		background-color: #fff;
		top: 111px;
		z-index: 4;
		display: none;
	}
	

/*.top_box{
	display: block;
	position: fixed;
	float: left;
	width: 100%;
	height: 300px;
	/*background-color: yellow;
/*}*/


.logo{
	width: 20%;
	height: 80px;
	float: left;
	position: absolute;
	left: 30px;
	top: 20px;
	z-index: 11;
}

.logo2{
	width: 20%;
	height: 80px;
	float: left;
	position: absolute;
	left: 30px;
	top: 20px;
	z-index: 11;
}


.top_navi{
	width: 200px;
	float: right;
	position: absolute;
	right: 5%;
	top: 10px;
	font-size: 13px;
	/* background-color:blue; */
}

.top_navi li{
	float: left; 
 margin-right: 5px;
}

.menu{
	width: 80%;
	position: absolute;
	right: 0;
	font-size: 15px;

}



.navi{display: flex;}

.navi>li{
	float: left;
	/* width: 180px; */
	width:20%;
	height: 111px;
	line-height: 111px;	
	/*background: red;*/
}

.navi>li>a{
	font-weight: bold;
	text-align: center;
}

/*.navi>li>a:hover{
	background: #fff;
	color: #333;
}*/

.submenu{
	width: 100%;
	height: 240px;
	background: #fff;
	/*background: yellow;*/
	display: none;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
}



.submenu>li{
	text-align: center;
	/*width: 180px;*/
	height: 48px;
	line-height: 48px;
	background: #fff;
	/*border-right: 1px solid #ccc;*/
}


/*.sub1{
	border-left:1px solid #ccc;
}*/
/*.submenu>li:first-child{
	border-left: 1px solid #ccc;
}*/

.submenu>li>a{
	/*text-align: center;*/
	font-size: 16px;
	font-weight: bold;
	background: #fff;
	/*background: yellow;*/
	color: #555;

}

.submenu>li>a:hover{
	color: #006ACD;
}


.top2{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 10;

}


.top_navi2{
	display: none;
	width: 100%;
	float: right;
	position: absolute;
	top: 100px;
	font-size: 13px;
	/* background-color:blue; */
	text-align: center;
	padding-top: 15px;
	padding-bottom: 60px;
	border: 1px solid #ccc;
}

.top_navi2>ul{
	text-align: center;
	position: absolute;
	left: 50%;margin-left: -150px;

}

.top_navi2 li{
	width: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 5px;
	text-align: center;
	border: 1px solid #ccc;
	float: left; 
}

.top_navi2 li>a{color: #555;}



.menu2{
	display: none;
	width: 100%;
	position: absolute;
	top: 200px;
	right: 0;
	font-size: 15px;
	/* background: red; */
	margin-top: -24px;
}
.navi2{}

.navi2>li{
	
	border-top: 1px solid #ccc;
}

.navi2>li:last-child{
	border-bottom: 1px solid #ccc;
}

.navi2>li>a{
	color: #000;
	font-weight: bold;
	padding-left: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.submenu2{
	display: none;

}

.submenu2>li{
	height:70px; line-height: 70px;
	border-bottom: 1px solid #aaa;
	background-color: #ccc;}

.submenu2>li>a{
	color: #222;
	padding-left: 50px;
	font-weight: bold;
}



/********************/

/*햄버거 버튼*/




.remote{
	position: fixed;
	display: block;
	float: right;
	width: 50px;
	height: 50px;
	margin-top: 4px;
	cursor: pointer;
	background-color: #99D588;
	border-radius: 50px;
	right:5%;
	top: 200px;
	z-index:6;
}

.spanwrap{
	margin-top: 15px;
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	z-index: 7;
}

.spanwrap span{
	display: block;
	width: 50%; 
	height: 2px;
	background: #fff; 
	/*margin-top: 5px;*/
	position: absolute;
	left: 50%;margin-left: -12px;
}


.spanwrap span:nth-child(1){top: 0px;}
.spanwrap span:nth-child(2){top: 7px;}
.spanwrap span:nth-child(3){top: 15px;}

.remote_txt{
	display: none;
	left: -65px;
	position: absolute;
	width: 100px;
	top:50px;

}

.remote_txt li{margin-bottom: 12px;}

.remote_txt p{
	display: inline-block;
	font-size: 13px;
	color: #ccc;
}

.remote_txt img{
	float: right;
}


.remote_on{
	top: 23px;
	width: 50px;
	height: 180px;
	border-radius: 0 0 50px 50px;
	display: none;
	position: absolute;
	background-color: #99D588;
}

/* ************************************** */
.bodywrap{
	width: 100%;
	height: auto;
	position: relative;
}

.white{
	float: left;
	width: 100%;
	height: 92px;
	color: #000;
}

.white img{
	vertical-align: middle;
	/*width: 45px;*/
}


.today{width: 50%;
/*background: red;*/
float: left;
text-align: right;
height: 100px;
line-height: 100px;
border-right:1px solid #ccc;
box-sizing:border-box;
padding-right: 20px;
position: relative;
}

.today p{
	height: 45px;
	position: absolute;
	right: 15px;
	top: 0;
	font-weight: bold;
	color: #555;
}

.today img{
	position: absolute;
	right: 250px;
	top: 25px
}

.e-ticket{width: 50%;
/*background: pink;*/
float: right;
text-align: left;
height: 100px;
line-height: 100px;
box-sizing: border-box;
padding-left: 20px;
position: relative;
}

.e-ticket p{
	height: 45px;
	position: absolute;
	left: 80px;
	top: 0;
	font-weight: bold;
	color: #555;
}

.e-ticket img{
	position: absolute;
	left: 15px;
	top: 25px
}
/***************/
.frame{
	position: relative;
	width: 100%;
	height: 849px;
	overflow: hidden;
	background: url("../img/img02.jpg");
	background-size: cover;
	float: left;
}



.frame_txt{
	width: 600px;
	position: absolute;
	left: 50%;margin-left: -300px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.frame_txt h2{
	font-size: 27px;
	margin-top: 30px;
	margin-bottom: 15px;
	text-align: center;}

.frame_txt p{
	font-size: 16px;
	text-align: center;
}


.rollwrap{
	position: relative;
	width:990px;
	height: 450px;
	top: 200px;
	overflow: hidden;

}

.roll_left{
	position: absolute;
	background: url('../img/slider_left.png')no-repeat center; left: 0;height: 100px; width: 30px; border: none;
	top: 50%; margin-top: -50px;}

.roll_right{
	position: absolute;
	background: url('../img/slider_right.png')no-repeat center; right: 0;height: 100px; width: 30px; border: none;
top: 50%; margin-top: -50px;}


.sub_frame{
	position: absolute;
	width: 900px;
	height: 450px;
	left: 60px;
	overflow: hidden;
	/*background: yellow;*/
}
.sub_frame li{
	width: 290px;
	height: 450px;
	overflow: hidden;
	position: relative;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	}

.sub_frame li img{
	width: 290px;
	/*height: 500px;*/
	margin-right: 30px;
	position: absolute;
}

.sub_frame li div{
	width: 350px;
	height: 80px;
	position: absolute;
	bottom: 0;
	background: #fff;
	color: #333;

}

.sub_frame li div>h5{
	font-size: 17px;
	height: 40px;
	line-height:40px;
	margin-left: 20px;
}
.sub_frame li div>p{
	color: #555;
	height: 40px;
	/*line-height: 50px;*/
	margin-left: 20px;
}



/*******************/
.hyetak{
	position: relative;
	float: left;
	width: 100%;
	background: #fff;
	color: #333;
	float: left;
	margin-bottom: 40px;

}


.hyetak_txt{
	width: 600px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	height:150px;
	line-height: 70px;
}

.hyetak h2{font-weight: normal;
margin-top: 20px;}

.hyetak h2 b{font-weight: bold;
margin-top: -20px;}

.hyetak p{
	text-align: center;
	font-size: 15px;
	color: #777;
}

.hyetak_box{
	width: 80%;
	margin: 0 auto;
}

.hyetak_box ul{display: flex;}

.hyetak_box li{
	width: 25%;
	flex: 1;
	border: 1px solid #ccc;
	box-sizing: border-box;
	height: 230px;
	position: relative;
}


.hyetak_box li div{
	color: #333;
	text-align: center;
	position: absolute;
	top: 130px;
	left: 50%;
	margin-left: -100px;

}
.hyetak_box li div h3{font-size: 17px;}

.hyetak_box li div p{
	margin-top: 10px;
	font-size: 14px;
	color: #999;
	font-weight: bold;
}

.hyetak img{
	width: 70px;
	left: 50%;
	margin-left: -35px;
	position: absolute;
	top: 40px;
}


/********************/

footer{
	width: 100%;
	border-top: 1px solid #ccc;
	/* background: cadetblue; */
	float: left;
	position: relative;
}

.foot_inner{width: 1200px; margin: 0 auto;}


.logo_bt{
	/* position: absolute;left: 0;top: 10%; */

}

.logo_bt img{margin-top: 50px;}


.foot_txt{
	/* position: absolute; */
	/* left: 20%;
	width:60%; */
	/* background:pink; */
	height: 80px;
	box-sizing: border-box;
}

.foot_txt li{
	float: left;
}

.foot_txt li a{
	color: #555;
	padding: 10px 20px 10px 20px;
	box-sizing: border-box;
	font-size: 15px;
	
}

.foot_addr{
	width: 60%;
	color: #555;
	/* position: absolute; */
	left: 20%;
	top: 100px;
	font-size: 12px;
	/* background: pink; */
	height: 100px;
}

.copy{
	height: 35px;
	/* position: absolute; */
	left: 20%;top: 200px;
	color: #ccc;
	font-size: 12px;
	/* background: pink; */
}


.sns{
	/* position: absolute; */
	right: 0;
	top: 0;
	width: 20%;
	height: 100px;
	float: right;
	/* margin-top: 10%; */
	/* background: red; */
}

.sns li{
	float: left;
	padding: 5px;
}

.foot_banner{
	/* position: absolute; */
	right: 0;
	top: 100px;
	width: 20%;
	height: 100px;
	float: right;
	/* background: blue; */
}

@media all and (max-width: 993px){

	header{
		height: 351px;
	}
	
	.top{
		height: 351px;
	}
	
	.top_topbox{
	}
	
	.top_topbox.on{
	}
	.tsbox{
		display: block;
	}
	
	.top_btbox{
		display: none;
		height: 240px;
	}
	/* ********************* */
	.top_navi{
		display: none;
		width: 200px;
		float: right;
		position: absolute;
		right: 5%;
		top: 10px;
		font-size: 13px;
	}
	
	.top_navi li{
		float: left; 
	 margin-right: 5px;
	}
	
	.menu{
		display: none;
		width: 80%;
		position: absolute;
		right: 0;
		font-size: 15px;
	}
	
	.navi{display: flex;}
	
	.navi>li{
		float: left;
		/* width: 180px; */
		width:20%;
		height: 111px;
		line-height: 111px;	
		/*background: red;*/
	}
	
	.navi>li>a{
		font-weight: bold;
		text-align: center;
	}
	
	.submenu{
		width: 100%;
		height: 240px;
		background: #fff;
		/*background: yellow;*/
		display: none;
	}

	.submenu>li{
		text-align: center;
		/*width: 180px;*/
		height: 48px;
		line-height: 48px;
		background: #fff;
		/*border-right: 1px solid #ccc;*/
	}
	
	.submenu{
		border: 1px solid #ccc;
		border-top: none;
		border-bottom: none;
	}
	
	
	.submenu>li>a{
		/*text-align: center;*/
		font-size: 16px;
		font-weight: bold;
		background: #fff;
		/*background: yellow;*/
		color: #555;
	
	}
	
	.submenu>li>a:hover{
		color: #006ACD;
	}

/* ********************** */

	.today p{
		font-size: 12px;
		width: 85%;
	}
	.today img{
		right: 200px;
	}


	/* *************************************************** */
	.frame{
	}
	
	.frame_txt{
		width: 300px;
		left: 50%;
		margin-left: -150px;
	}
	
	.frame_txt h2{
		font-size: 20px;
	}
	
	.frame_txt p{
		font-size: 12px;
	}
	
	.rollwrap{
		width:430px;
	}
	
	.roll_left{
		z-index: 6;
	;}
	
	.roll_right{
		z-index: 6;
		}
	
	.sub_frame{
		width: 430px;
	}
	.sub_frame li{
		}
	
	.sub_frame li img{
	}



	/* ****************************************************** */
	.hyetak{
	}

	.hyetak_txt{
		width: 400px;
		margin: 0 auto;
		padding-top: 30px;
		padding-bottom: 30px;
		height:80px;
		line-height: 70px;
	}
	
	.hyetak h2{
		font-weight: normal;
		text-align: center;
	margin-top: 20px;
	font-size: 16px;}
	
	.hyetak h2 b{font-weight: bold;
	margin-top: -20px;}
	
	.hyetak p{
		text-align: center;
		font-size: 12px;
		color: #777;
		margin-top: -40px;
	}


	
	.hyetak_box{
		width: 80%;		
		margin: 0 auto;
	}
	.hyetak_box ul{
		display: flex;
		flex-wrap: wrap;
	}
	
	.hyetak_box li{
		flex:1;
		min-width: 200px;
		border: 1px solid #ccc;
		box-sizing: border-box;
		height: 230px;
		position: relative;
	}

	
	.hyetak_box li div{
		color: #333;
		text-align: center;
		position: absolute;
		top: 130px;
		left: 50%;
		margin-left: -100px;
	
	}
	.hyetak_box li div h3{font-size: 17px;}
	
	.hyetak_box li div p{
		margin-top: 10px;
		font-size: 14px;
		color: #999;
		font-weight: bold;
	}
	
	.hyetak img{
		width: 70px;
		left: 50%;
		margin-left: -35px;
		position: absolute;
		top: 40px;
	}

	/* ******************************* */

	footer{
		}
	.foot_inner{width: 900px; margin: 0 auto;}
	
	
	.logo_bt{
		/* position: absolute;left: 40%;top:80px; */
	}
	
	.logo_bt img{margin-top: 50px;}
	
	
	.foot_txt{
		/* position: absolute; */
		left: 20%;
		width:60%;
		/* background:pink; */
		height: 80px;
		box-sizing: border-box;
	}
	
	.foot_txt li{
		float: left;
	}
	
	.foot_txt li a{
		color: #555;
		padding: 10px 20px 10px 20px;
		box-sizing: border-box;
		font-size: 15px;
		
	}
	
	.foot_addr{
		width: 60%;
		color: #555;
		/* position: absolute; */
		left: 20%;
		top: 200px;
		font-size: 12px;
		/* background: pink; */
		height: 100px;
	}
	
	.copy{
		height: 35px;
		/* position: absolute; */
		left: 20%;top: 330px;
		color: #ccc;
		font-size: 12px;
		/* background: pink; */
	}
	
	
	.sns{
		/* position: absolute; */
		right: 0;
		top: 0;
		width: 10%;
		height: 100px;
		float: right;
		/* margin-top: 10%; */
		/* background: red; */
	}
	
	.sns li{
		float: left;
		padding: 5px;
	}
	
	.foot_banner{
		/* position: absolute; */
		left: 10%;
		top:350px;
		width: 20%;
		height: 100px;
		float: right;
		/* background: blue; */
	}
	


}

@media all and (max-width: 380px){

	.foot_inner{width: 95%}
	.rollwrap{
		width:300px;
	}
	
	.sub_frame{
		width: 300px;
	}

	.sub_frame li img{
		width:180px;
	
	}

	.sub_frame li div{
		display: none;
	}
	

}
