@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/*font-family: 'Poiret One', cursive;*/

*{
	margin: 0;padding: 0;
}

ul{list-style: none;}

a{text-decoration: none;color: #555;}

body{
	font-family: 'Poiret One', cursive;
	background: #ddd;
}

header h1{
	position: fixed; right: 20px; top: 20px;z-index: 5;
	width: 100px; height: 100px;

	/*box-shadow: 5px 5px 3px #888;*/

}
header h1 img{
	width: 100%; background: #fff;
	box-shadow: 5px 5px 3px #888;
	border-radius: 3px;

}

ul#sns{
	position: fixed;left: 20px;bottom: 20px;z-index: 5;
}

ul#sns li{
	float: left;margin-right: 25px;
	/*transition: all 0.5s;*/
}

ul#sns li a{
	transition: all 0.5s;
	display: block;
	font-size:25px; font-weight: bold; color: #fff;}

ul#sns li:hover a{
	transform: scale(1.5);
}

ul#navi{
	position: fixed;
	left: 20px; top: 20px;z-index: 5;
	display: block;
	
}

ul#navi li{
	float: left; margin-right: 25px;
	font-size: 16px; font-weight: bold; color: #fff;
	transition: all 0.5s;
	cursor: pointer;
}

ul#navi li:hover{
	color: #888;
}

div p.txt{
	position: fixed;right: 20px;top: 50%; margin-top: -15px;
	font-size: 28px;color: #888;letter-spacing: 1px;
	text-align: right;
	z-index: 1;
}

div p.txt strong{
	color: #555;
}

/***************/

section{
	position: fixed;left: 0;top: 50%; margin-top: -200px;
	width: 4000px; height: 500px;
	z-index: 3;
}

section article{
	box-sizing: border-box;
	position: relative;
	width: 180px; height: 400px;
	overflow: hidden;
	float: left; margin: 10px;
	background:#fff;
	opacity: 0.5;
	transition: all 0.5s;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #888;
}

section article:hover{
	opacity: 0.9;
}

section article strong{
	display: block;width: 100%;height: 300px;
	overflow: hidden;
	/*text-align: center;*/
	transition: all 0.3s;
	opacity: 0.4;
}

section article strong img{
	/*width: 100%;*/
	height: 100%;
	/*height: 300px; width: auto;*/
	/*text-align: center;*/
	/*margin-left: -60px;*/

}

section article h2{
	position: absolute;top: 300px;right: 0;
	width: 100%; height: 50px; line-height: 3.5;
	box-sizing: border-box;
	background: #111;
	text-align: center;padding-left: 10px;
	
}

section article h2 a{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 3px;
	display: block;
}

section article p{
	position: absolute;right: 0;top: 50%;
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: all 0.5;
	opacity: 0;
}

section article p img{
	height: 100%; width: auto;
}

section article em{
	position: absolute;
	bottom: 50px; right: -300px;
	padding: 10px 20px;
	box-sizing: border-box;
	opacity: 0.8; color: #fff;
	transition: all 0.5s;
}

section article span{
	position: absolute;right: 300px; top: 110px;
	font-size: 20px; color: #fff; cursor: pointer;
}

footer{position: fixed;
	right: 20px; bottom: 20px;}

article.on{
	width: 780px; height: 500px;
	/*margin-top: -250px;*/
}

article.on h2{
	z-index: 5;
	top:100px; height: 100px; background: #111; opacity: 0.3;
}

article.on h2 a{
	font-size: 30px; color: #fff;
}

article.on strong{
	opacity: 0;
}

article.on p{
	margin-top: -250px;
	height: 500px;
	opacity: 1;}

article.on em{
	right: 20px;
}

article.on span{
	right: 20px;
}


